:root {
    --black: #202020;
    --white: #E0E0E0;
}

header {
  background: var(--black);
}

nav.primary .btn-outline-primary:hover {
  color: var(--black);
}

#map {
    filter: invert(1) hue-rotate(180deg);
}